@import "../../sass/abstracts/variables";
.maindiv1 {
  background-color: $color-primary-light;
}

.head1 {
  position: absolute;
  font-size: 8rem;
  color: white;
  text-align: center;
  margin: 15vh 65vh;
}

.img2 {
  width: 100%;
  height: 50vh;
}

.h3 {
  color: red;
}
