@import "../../sass/abstracts/variables";
.maindiv1 {
  background-color: $color-primary-light;
}
.maindiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // width: 50%;
}
.div {
  background-color: $color-primary-light;
}
.div2 {
  display: flex;
}
.div3 {
  display: flex;
  background-color: $color-primary-light;
}
.div4 {
  background-color: $color-primary-light;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 2%;
}
.div5 {
  width: 100%;
  height: 50vh;
  // background-color: royalblue;
  background-image: linear-gradient(
      to right bottom,
      rgba(154, 176, 241, 0.753),
      rgba(3, 3, 117, 0.801)
    ),
    url(../../Images/contact.jpg);
  background-size: cover;
  opacity: 0.7;
  // justify-items: center;
}
.head1 {
  position: absolute;
  font-size: 8rem;
  color: white;
  text-align: center;
  margin: 15vh 65vh;
}
.img {
  width: 5rem;
}
.img2 {
  width: 100%;
  height: 50vh;
}
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 33vh;
  left: calc(50% - 15rem);
}
.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertiical;
  }
  // @include clearfix;
  // clear: left;
  overflow: auto;
  [class^="col-"] {
    background-color: orangered;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-1-of-3 {
    width: calc((100% - 2 *#{$gutter-horizontal}) / 3);
  }
}
// .btn {
//   font: inherit;
//   padding: 0.5rem 1.5rem;
//   cursor: pointer;
//   border-radius: 4px;
//   background-color: #800040;
//   color: white;
//   border: 1px solid #800040;
//   margin: 0 1rem;
// }

// .btn:hover {
//   background-color: #9c1458;
//   border-color: #9c1458;
// }

// .btn--alt {
//   background-color: transparent;
//   color: #800040;
// }

// .btn--alt:hover {
//   background-color: #f8dae9;
// }

.backdrop {
  position: fixed;
  padding: 2rem;
  z-index: 1;
  background-color: $color-primary-light;
  opacity: 0.8;
  width: 100%;
  height: 35vh;
  top: 27%;
  left: 0;
}
h1 {
  font-size: 3rem;
  // font-style: italic;
  text-align: left;
  margin: 1rem;
  color: $color-primary-dark;
}
h3 {
  color: red;
}
label {
  font-size: 2rem;
  margin: 8px 0;
}
input {
  position: relative;
  background-color: rgb(230, 228, 228);
  padding: 18px 30px;
  font-family: "Times New Roman", Times, serif;
  margin: 8px 8px;
  width: 100%;
  border: none;
  // border-radius: 6px;
  &::placeholder {
    font-size: 1.5rem;
  }
}
button {
  padding: 0.5rem 1.25rem;
  font-size: 2rem;
  border-radius: 4px;
  background-color: $color-primary-light;
  border: 2px solid $color-primary-dark;
  color: $color-primary-dark;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1rem;
  margin-left: 8px;
  appearance: inherit;
  display: inline-block;
  &:hover {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
}
