@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";

.hero {
  overflow: hidden;
  max-width: 100%;
  // height: auto;
  background-color: #fff;
  // background-image: linear-gradient(to right, #00498d, #00172d);
  &_slider {
    white-space: nowrap;
    transition: ease 2s;
  }
}

.slide {
  display: inline-block;
  // height: 67vh;
  height: auto;
  width: 100%;
  // height: 100%;
  // background-color: aquamarine;
  img {
    // display: inline-block;
    width: 100%;
    // height: 100%;
    // opacity: 0.8;
    object-fit: cover;
  }
}
