@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";
@import "../../../sass/base/layout";

.maindiv {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem;
  // width: 50%;
}

.div {
  // position: absolute;
  margin-top: 2.5vh;
  width: 100%;
  opacity: 0.9;
  height: 50vh;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  padding: 2rem;
}
.div2 {
  display: flex;
}

// .div3 {
//   display: flex;
//   background-color: $color-primary-light;
//   padding-bottom: 14rem;
// }

.modal2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.63);
  padding: 2rem;
  // height: 2rem;
  text-align: center;
  // width: 20rem;
  z-index: 10;
  position: absolute;
  // top: 103vh;
  right: 10%;
  color: red;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 108vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  padding: 2rem;
  z-index: 1;
  background-color: $color-primary-light;
  opacity: 0.8;
  width: 100%;
  height: 60.5vh;
  top: 87vh;
  left: 0;
}
.input {
  position: relative;
  background-color: rgb(230, 228, 228);
  padding: 18px 30px;
  font-family: "Times New Roman", Times, serif;
  margin: 8px 8px;
  width: 100%;
  border: none;
  border-radius: 6px;
  &::placeholder {
    font-size: 2rem;
  }
}
.button {
  padding: 0.5rem 1.25rem;
  font-size: 2rem;
  border-radius: 4px;
  background-color: $color-primary-light;
  border: 2px solid $color-primary-dark;
  color: $color-primary-dark;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1rem;
  margin-left: 8px;
  appearance: inherit;
  display: inline-block;
  &:hover {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
}
