@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";
@import "../../../sass/base/layout";

.maindiv {
  background-color: rgb(236, 236, 236);
  display: flex;
  margin-bottom: 14rem;
  // grid-template-columns: 1fr 2fr;
  // padding: 3rem 1rem;
  // width: 50%;
}

.div {
  // position: absolute;
  // margin-top: 2.5vh;
  width: 50%;
  opacity: 0.9;
  height: 100%;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  padding: 1rem;
}
.div2 {
  // display: flex;
  margin-bottom: 1rem;
  position: relative;
  transition: all 2s;
}

// .div3 {
//   display: flex;
//   background-color: $color-primary-light;
//   padding-bottom: 14rem;
// }

.errorbox {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(90%);
  z-index: 1;
  font-size: 1.5rem;
  .pointer {
    // display: inline-block;
    height: 1rem;
    width: 2rem;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: grey;
    transform: translateX(150%);
  }
  .box {
    text-align: center;
    padding: 1rem 1rem;
    // height: 4rem;
    // width: 16rem;
    color: white;
    background-color: grey;
    border-radius: 2rem;
  }
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 108vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  padding: 2rem;
  z-index: 1;
  background-color: $color-primary-light;
  opacity: 0.8;
  width: 100%;
  height: 60.5vh;
  top: 87vh;
  left: 0;
}
.input {
  position: relative;
  background-color: rgb(230, 228, 228);
  // background-color: grey;
  padding: 18px 30px;
  font-family: "Times New Roman", Times, serif;
  // margin: 8px 8px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  &::placeholder {
    font-size: 2rem;
  }
}
.button {
  padding: 0.5rem 1.25rem;
  font-size: 2rem;
  border-radius: 4px;
  background-color: $color-primary-light;
  border: 2px solid $color-primary-dark;
  color: $color-primary-dark;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1rem;
  margin-left: 8px;
  appearance: inherit;
  display: inline-block;
  transition: all 0.3s;
  &:hover {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
}

@media (max-width: 600px){
  .maindiv{
    flex-direction: column;
  }
  .div{
    width: 100%;
  }
}