@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";
@import "../sass/base/layout";

.objects {
  display: grid;
}
.object1 {
  grid-template-columns: 1fr 1fr;
  background-color: white;
  img{
    height: 30rem;
    width:100%;
    object-fit: cover;
    object-position: left;
  }
}
.object2 {
  grid-template-columns: 1fr 1fr;
  background-color: rgb(219, 219, 219);
  img{
    height: 30rem;
    width:100%;
    object-fit: cover;
    object-position: left;
  }
}
.hero {
  height: 67vh;
  background-position: left;
  // background-size: 100% 120%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width:600px) {
  .hero{
    height: 30vh;
  }

  .object1Imgs{
    display: block;
    width: 100%;
  }
  // .objects{
  //   display: block;
  // }

  // .object1{
  //   img{
  //     display: block;
  //     width: 100%;
  //   }
  // }
}